<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Lid worden?</h2>
      <p>Een passie voor zingen en vocale expressie zijn een evidentie om tot het koor toe te
        treden. <br />Kennis van algemene notenleer is wenselijk. Wij verwachten van u dan ook een
        bereidheid om op dit vlak bij te scholen.</p>
      <p>
        U bent steeds welkom op de wekelijkse repetitie, op vrijdag van 20.15 u tot 22.30 u in de
        Congregatiekapel in de Kasteelstraat in Zottegem.</p>
    </div>
  </div>
</aside>
