<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Onze Dirigent</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <br/>
  <div class="container">

    <div class="col-lg-6 col-md-6 text-left">
      <div class="service-box">
        <p>
          Vanaf januari 2016 dirigeert <b>Marleen Bijl</b> Crescendo. Marleen kreeg onmiddellijk de
          zware
          verantwoordelijkheid Crescendo door zijn 50 jarig jubileumjaar te loodsen met
          o.a. op 19 maart een integraal Heinrich Schütz concert en een kerstconcert op 18
          december 2016.
          In februari 2017 leidt Marleen op haar beurt, Crescendo naar de eerste divisie tijdens
          de provinciale koorwedstrijden.
        </p>
        <br/><br/>

        <a href="leden.html" class="btn btn-default btn-primary">Meer over onze dirigent en
          leden</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <img src="./img/marleen.jpg" class="profile_image"/>
        </div>
      </div>
    </div>

  </div>
</section>
