<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/groepsfoto_doornik.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Groepsfoto
                            </div>
                            <div class="project-name">
                                Doornik 2019
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/2_egmont_concert.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optreden
                            </div>
                            <div class="project-name">
                                Egmont Concert 2019
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3_velzeke_2017.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optreden
                            </div>
                            <div class="project-name">
                                Velzeke Fenice Apperitiefconcert 2017
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/4_schutz_2016 .jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optreden
                            </div>
                            <div class="project-name">
                                Schütz 2016
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/5_monumenten.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optreden
                            </div>
                            <div class="project-name">
                                Sfeerbeeld Open Monumentendag Roborst 2012
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <img src="img/portfolio/6_kerstgroet.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optreden
                            </div>
                            <div class="project-name">
                                Kerstgroet Velzeke 2016
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
